* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_3 {
  width: 595px;
  height: 842px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_4 {
  width: 595px;
  height: 93px;
  background: rgba(20,43,60,1);
  opacity: 1;
  position: absolute;
  top: 749px;
  left: 0px;
  overflow: hidden;
}
.v1_5 {
  width: 116px;
  height: 123px;
  background: url("../images/v1_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6000000238418579);
  overflow: hidden;
}
.v1_6 {
  width: 323px;
  color: url("../images/v1_6.png");
  position: absolute;
  top: 46px;
  left: 133px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_11 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 153px;
  left: 38px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_12 {
  width: 154px;
  color: url("../images/v1_12.png");
  position: absolute;
  top: 69px;
  left: 156px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_13 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 702px;
  left: 217px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_14 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 297px;
  left: 38px;
  font-family: IM FELL Great Primer SC;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v1_15 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 195px;
  left: 38px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_16 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 242px;
  left: 38px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_17 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 242px;
  left: 278px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_18 {
  width: 238px;
  height: 18px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 179px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v1_19 {
  width: 519px;
  height: 298px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 38px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_20 {
  width: 238px;
  height: 18px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 199px;
  left: 179px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v1_21 {
  width: 147px;
  height: 18px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 245px;
  left: 117px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v1_22 {
  width: 147px;
  height: 18px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 245px;
  left: 230px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v1_23 {
  width: 190px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 803px;
  left: 15px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_24 {
  width: 236px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 763px;
  left: 253px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_25 {
  width: 236px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 789px;
  left: 253px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_26 {
  width: 236px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 818px;
  left: 253px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_27 {
  width: 19px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 817px;
  left: 282px;
}
.v1_28 {
  width: 47px;
  height: 42px;
  background: url("../images/v1_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 754px;
  left: 2px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6000000238418579);
  overflow: hidden;
}
.v1_29 {
  width: 119px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 761px;
  left: 51px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_30 {
  width: 19px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 787px;
  left: 282px;
}
.v1_31 {
  width: 14px;
  height: 17px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 760px;
  left: 280px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_47 {
  width: 307px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 96px;
  left: 172px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
